<header>

    <nav class="navbar navbar-inverse sticky-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">GREELEY WEST HS</div>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li ><a href="/"             <% if (pageID === 'home') { %>        class="active"<% } %>  >Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Games
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <% dates.forEach( dateVal => {  %>
                                <li ><a href="/<%=dateVal%>?page=1"    <% if (pageID === dateVal) { %>    class="active"<% } %>  ><%=dateVal%></a></li>
                            <% }) %>

                        </ul>
                      </li>
                                    

                    <li ><a href="/contact"      <% if (pageID === 'contact') { %>     class="active"<% } %>  >Contact</a></li>
                </li>
                </ul><!-- nav -->
            </div><!-- navbar-collapse -->
        </div><!-- container -->
    </nav>
</header>
