<!DOCTYPE html>
<html>

<head>
    <% include partials/head.ejs %>
</head>

<body id=" <%= pageID %>">

    <% include partials/header.ejs %>

    <div class="container">
        <h1>Greeley West High School Freshman Football</h1>
        <h3>Welcome Spartans!!!!</h3>
        <p>           
            This is just a simple site so people can look through my pictures and download them if they see anything they like.  Photography is just a hobby of mine.  I don't claim to be a professional.
        </p>
        <p>
            I'm hoping for that awesome action shot. Some pictures don't seem to be that interesting but I will leave that up to the parents.
            You should be able to right click on an image and save or download it.
            The pictures have been optimized for the web so they may not print very well.  If you want a larger copy to print then feel free to email me the date and image name and I will try to get you the original shot.
        </p>
        <p>
            I am limited on space and bandwidth so I am not sure how long the games will stay up.  I'm also just posting the interesting shots.
        </p>
        <p>
            If any images are to be used in publications then please just credit me. (Michael Coons) It would be nice recieving an email to know also.
        </p>
        <p>
            <strong>This is a personal site and is in no way affiliated with or endorced by Greeley High School.</strong>
        </p>
    </div>

    <% include partials/footer.ejs %>

</body>

</html>