<!DOCTYPE html>
<html>

<head>
    <% include partials/head.ejs %>
</head>

<body id=" <%= pageID %>">

    <% include partials/header.ejs %>

    <% include partials/pagenav.ejs %>

    <div class="container">
        <% pics.forEach( pic => { %>
            <div class='panel panel-default'>
                <img src="<%=pic%>" alt="" class="img-responsive">
                <% let stripText = '/images/' + date + '/' %>
                <% let name = pic.replace(stripText,'') %>
                <h3><%=name%></h3>
            </div>
        <% }) %>
    </div>

    <% include partials/pagenav.ejs %>

    <% include partials/footer.ejs %>

</body>

</html>